<form [formGroup]="addCardForm">
  <div class="add-form-header">
    <h2>{{ data.card?.id ? "Edit" : "Add" }} Card</h2>
    @if(data.card?.id){
    <button (click)="deleteCard()" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    }
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input type="text" matInput formControlName="name" placeholder="My Card" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Content</mat-label>
    <textarea
      matInput
      formControlName="content"
      placeholder="content..."
    ></textarea>
  </mat-form-field>

  <div class="button-group">
    <button (click)="createEditCard()" mat-flat-button color="primary">
      {{ data.card?.id ? "Update" : "Add" }}
    </button>

    <button (click)="closeCard()" mat-flat-button color="secondary">
      Close
    </button>
  </div>
</form>
