@use "typography.scss" as t;
@use "variables.scss" as v;

:host {
  @apply flex flex-col m-4 h-full;

  .kb-board-header {
    @apply flex items-center mt-5 mb-10 pb-5 gap-8;
    border-bottom: 1px solid v.$border_color;

    &__title {
      @apply m-0;
      color: v.$gray;
    }
  }

  .swimlane-wrapper {
    @apply flex-grow overflow-auto flex flex-nowrap gap-6 h-full;
    margin: 0 -16px;
    padding: 0 16px 20px;

    h4 {
      @apply text-xl font-bold;
    }

    .swimlane {
      @apply w-60 flex-shrink-0 h-full;

      &:hover .btn_icons {
        @apply block;
      }

      &-header {
        @apply flex items-center justify-between mb-4 sticky top-0 px-0.5 -mx-0.5;
        background-color: v.$background_color;
        &__icons {
          @apply flex items-center gap-3;

          .btn_icons {
            @apply hidden border-none outline-none bg-transparent rounded cursor-pointer duration-150 hover:scale-125;
          }

          .delete_btn:hover {
            @apply text-red-500;
          }

          .edit_btn:hover {
            @apply text-blue-500;
          }
        }

        h4 {
          @apply m-0;
        }
      }

      &-inner {
        @apply bg-white shadow-md p-5 rounded;
        &__dragzone {
          @apply min-h-12;
        }
      }

      &-card {
        @apply mb-4 p-4 rounded cursor-pointer border-none outline-none bg-gray-200;
      }

      .add-swimlane-form {
        @apply relative flex items-center justify-center w-fit;
      }

      mat-form-field,
      input,
      button {
        @apply w-full;
      }

      // .add_swimlane {
      //   @apply absolute w-fit right-7 bottom-14;
      // }
    }
  }
}

.kb-link {
  @include t.kb-link;
}
