<div class="kb-board-header">
  <button mat-mini-fab [routerLink]="['/boards']" color="secondary">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <h2 class="kb-board-header__title">{{ board()?.name }}</h2>
</div>

<div
  cdkDropListGroup
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onSwimlaneChange($event)"
  class="swimlane-wrapper"
>
  @for(swimlane of board()?.swimlanes; track swimlane.id){
  <div class="swimlane" cdkDrag>
    <div class="swimlane-header" cdkDragHandle>
      <h4>{{ swimlane.name }}</h4>
      <div class="swimlane-header__icons">
        <button (click)="editSwimlane(swimlane)" class="btn_icons edit_btn">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="swimlane-inner">
      <div
        class="swimlane-inner__dragzone"
        cdkDropList
        cdkDropListOrientation="vertical"
        [cdkDropListData]="swimlane.cards"
        (cdkDropListDropped)="onCardChange($event, swimlane)"
      >
        @for(card of swimlane.cards; track card.id){
        <button
          class="swimlane-card"
          (click)="addEditCard(swimlane, card)"
          cdkDrag
        >
          {{ card.name }}
        </button>
        }
      </div>
    </div>
    <button (click)="addEditCard(swimlane)" color="secondary" mat-button>
      Add Card
    </button>
  </div>
  }

  <div class="swimlane">
    <h4>Add Swimlane</h4>
    <div class="swimlane-inner add-swimlane-form">
      <form [formGroup]="swimlaneForm" (keyup.enter)="addSwimlane()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="Add a Todo"
          />

          @if(!swimlaneForm.controls.name.hasError('required')){
          <mat-error>Please enter the valid name</mat-error>
          }
        </mat-form-field>
      </form>
      <!-- <br /> -->
      <!-- <button color="primary" class="add_swimlane" mat-flat-button>Add</button> -->
    </div>
  </div>
</div>
