:host {
  @apply m-7;

  .board-wrapper {
    @apply grid grid-cols-4 gap-6;

    .board {
      all: unset;
      box-sizing: border-box;
      // width: calc(25% - 20px);
      // padding: 10px;
      // flex-grow: 1;
      // display: flex;
      cursor: pointer;

      mat-card {
        padding: 8px 8px 24px;

        mat-card-actions {
          .mdc-button {
            min-width: 0;
          }
        }
      }

      @media (max-width: 1280px) {
        width: calc(25% - 20px);
      }

      @media (max-width: 768px) {
        width: calc(100% - 20px);
      }
    }
  }

  button {
    margin-top: 20px;
  }
}
