<div class="home-section">
  <div class="home-section__hero">
    <div class="home-section__hero--img">
      <img src="/logo/task-flow.png" alt="" />
    </div>
    <div class="home-section__hero--content">
      <p>
        <strong>TaskFlow</strong> is a simple and intuitive Kanban board
        application designed to help individuals manage their personal tasks and
        stay organized. Whether you're working on personal projects, daily to-do
        lists, or long-term goals, <strong>TaskFlow</strong> offers an
        easy-to-use platform to visualize your workflow and track progress.
      </p>
    </div>
  </div>

  <div class="home-section__about">
    <p class="">
      With its clean interface and drag-and-drop functionality, you can easily
      create tasks, categorize them, and move them through different stages of
      completion.
    </p>
    <ul>
      <p>Key features include:</p>
      <li>
        Personalized Workflows: Customize your boards to fit your unique project
        or task needs.
      </li>
      <li>
        Focus on Productivity: Stay on top of your tasks with a clear visual
        representation of what needs to be done.
      </li>
      <li>
        Minimalistic Design: A distraction-free, simple interface that helps you
        focus on getting things done.
      </li>
      <li>
        Organize your life, manage your tasks, and achieve your goals with [App
        Name], the perfect tool for personal productivity and task management.
      </li>
    </ul>
  </div>
</div>
