@use "variables.scss" as v;
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

body {
  @apply m-0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: v.$background_color;
}

.auth-form {
  @apply flex flex-col justify-center items-center mt-5 mx-auto bg-white rounded-xl shadow-md p-6 md:w-96;

  h3 {
    @apply font-bold text-2xl;
  }

  p {
    @apply mt-3;
  }
}

form {
  mat-form-field,
  input,
  button {
    @apply w-full;
  }
}

.button-group {
  @apply flex gap-4;
}

.cdk-drag-preview {
  @apply pt-6 px-6 pb-8 bg-white box-border rounded;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
